@charset "utf-8";
/* CSS Document */

.greybox {
	background-image:url(../image/background_contact.jpg);
	background-repeat:no-repeat;
	position:relative;
	width:980px;
	height:1449px;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	font-size:50px;
	color:#17a0aa;
	margin:0;
}

p {
	margin:0;
	margin-top:40px;
	font-size:20px;
}

.leftSide, .rightSide {
	margin-top:60px;
}

.leftSide {
	width:60%;
	float:left;
}

.rightSide {
	width:40%;
	float:right;
}

h3 {
	color:#17a0aa;
	margin-bottom:5px;
}

input {
	width:80%;
	height:30px;
	font-size:20px;
	margin-top:5px;
}

textarea {
	height:200px;
	width:80%;
}

.submit {
	height:26px;
	width:90px;
	float:right;
	margin-right:18.5%;
}

.rightSide h4 {
	margin-bottom:0px;
}

.rightSide p {
	margin:0;
	font-size:16px;
	color:#17a0aa;
}