@charset "utf-8";
/* CSS Document */

.topHalf {
	height:30%;
}

.topHalf img {
	margin-left:225px;
	margin-right:225px;
	margin-top:50px;
	margin-bottom:auto;
}

.botHalf {
	height:70%;
	padding-left:20px;
	padding-right:20px;
	text-align:justify;
	font-size:17px;
	font-family:'Century Gothic',CenturyGothic, AppleGothic, sans-serif;
	color:#424141;
}

.slideshow {
	width:500px;
	height:360px;
	overflow:hidden;
	display:inline-block;
	margin-left:175px;
	margin-right:175px;
}

.slide {
	height:360px;
	padding-top:15px;
	padding-bottom:15px;
}

.previous, .next {
	cursor:pointer;
	position:relative;
	width:175px;
}

.previous {
	float:left;
}

.next {
	float:right;
	padding-right:40px;
}

.previousLogo, .nextLogo {
	position:absolute;
	top:180px;
	left:50%;
}

.fading {
	-webkit-animation:fading 5s 1;
	animation:fading 5s 1
}

@-webkit-keyframes fading {
	0%{opacity:0}
	50%{opacity:1}
}

@keyframes fading {
	0%{opacity:0}
	50%{opacity:1}
}